/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1rem;
  background-color: #ffffff; /* White header background */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0; /* Ensures it sticks at the top */
  left: 0;
  width: 100%;
  z-index: 999; /* Ensures it stays above other elements */
}

.logo {
  display: flex;
  align-items: center;
}
.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 35px;
}

.logo img {
  height: 50px; /* Adjusted size */
  margin-right: 0.5rem; /* Space between logo and company name */
}

.company-name {
  display: flex;
  align-items: baseline; /* Align text vertically */
  text-decoration: none; /* Remove underline */
  font-size: 30px;
}

.company-name .eam {
  color: var(--eam-color); /* EAM color */
}

.company-name .square {
  color: var(--square-color); /* SQUARE color */
}

.menu-toggle {
  display: none; /* Hide on larger screens */
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: #025b6d; /* Icon color */
}

.nav-menu {
  border-radius: 20px;
  box-shadow: 0 4px 6px #025b6d33;
  display: flex;
  gap: 1.5rem;
  padding: 0 35px;
}

.nav-menu a {
  color: var(--navlink-color);
  font-weight: 600;
  overflow: hidden;
  padding: 0.5rem 1rem;
  position: relative;
  text-decoration: none;
}

.nav-menu a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: var(--navlink-bg-hover); /* Set your desired hover color */
  transform: translateY(100%); /* Start from the bottom */
  transition: transform 0.3s ease; /* Smooth transition */
  z-index: -1; /* Send behind the text */
}

.nav-menu a:hover::after {
  transform: translateY(0); /* Move to the top on hover */
}

.nav-menu a.active {
  color: var(--navlink-color-active); /* Active link color */
  border-bottom: 3px solid var(--secondary-color);
}

.nav-menu a:hover {
  color: var(--navlink-color-hover); /* Hover text color */
}
/* Responsive Styles */
@media (max-width: 768px) {
  .logo img {
    height: 30px; /* Adjusted size */
    margin-right: 0.5rem; /* Space between logo and company name */
  }
  .menu-toggle {
    display: flex;
    align-items: center; /* Show toggle button on small screens */
  }

  .nav-menu {
    display: none; /* Hide main menu on small screens */
    flex-direction: column;
    position: absolute;
    top: 60px; /* Adjusted based on header height */
    right: 0;
    background-color: #ffffff;
    width: 250px;
    padding: 15px;
    gap: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .nav-menu.show {
    display: flex; /* Show menu when open */
    border-radius: 10px;
  }

  .nav-menu a {
    color: #025b6c; /* Default link color in collapsed menu */
    padding: 5px; /* Consistent padding in collapsed menu */
    text-align: center;
    box-shadow: 0 4px 6px rgba(var(--primary-color-rgb), 0.1);
  }

  .nav-menu a.active {
    color: var(--navlink-color-active);
    box-shadow: 0 4px 6px rgba(var(--secondary-color-rgb), 0.1);
    border-bottom: 0px;
  }
  .nav-menu a:hover {
    color: #025b6c; /* Default link color in collapsed menu */
  }

  .menu-open {
    color: var(--menu-btn-open-color);
  }

  .company-name {
    display: flex;
    align-items: baseline; /* Align text vertically */
    text-decoration: none; /* Remove underline */
    font-size: 20px;
  }
}

/* Animations */
.nav-menu a:hover {
  animation: pulse 0.3s ease-in-out; /* Pulse animation on hover */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
